.formContainer form {
  display: flex !important;
  flex-direction: column;
}

.formContainer {
  max-width: 500px;
  padding: 20px;
  width: 100%;
}

.form {
  display: flex;
  flex-direction: column;
}

.formInput {
  width: 100%;
  padding: 8px 20px;
  margin-bottom: 8px;
  font-size: 16px;
  border-radius: 100px;
  border: 2px solid #246FBF;
  background: #fff;
  outline: none;
  transition: border-color 0.2s ease;
}

/* Quando o usuário clica ou digita */
.formInput:focus {
  border: 2px solid #F466BE;
}

/* Esconde o checkbox padrão */
.checkboxHidden {
  display: none;
}

/* Wrapper com texto */
.formCheckbox {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 12px;
  font-size: 14px;
  color: white;
}

/* Quadradinho personalizado */
.customCheckbox {
  width: 22px;
  height: 22px;
  border-radius: 6px;
  border: 2px solid #F466BE;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.2s ease-in-out;
  min-width: 22px;
  min-height: 22px;
}

/* Check (ícone) escondido por padrão */
.customCheckbox::after {
  content: "✔";
  color: white;
  font-size: 14px;
  display: none;
}

/* Quando o checkbox é marcado */
.checkboxHidden:checked+.customCheckbox {
  background: #F466BE;
  border-color: #F466BE;
}

/* Mostra o check */
.checkboxHidden:checked+.customCheckbox::after {
  display: block;
}

/* Link da política de privacidade */
.privacyLink {
  color: #F466BE;
  text-decoration: none;
  font-weight: bold;
}

.privacyLink:hover {
  text-decoration: underline;
}


.formButton {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border-radius: 25px;
  border: none;
  cursor: pointer;
  background-color: #F466BE;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  transition: 0.2s;
}


.successMessage {
  color: lightgreen;
  margin-top: 16px;
}

.errorMessage {
  color: red;
  margin-top: 0;
}

/* estado DESABILITADO do botão */
.formButton:disabled {
  background: #FF44B7BD;
  cursor: not-allowed;
  opacity: 1;
  color: #969696;
}

.formButton:disabled:hover {
  background: #FF44B7BD;
}




@media screen and (max-width: 1024px) {
  .form {
    padding: 0 30px;
  }
}
